asgiref==3.2.3
Django==3.0.3
django-classy-tags==1.0.0
django-cookie-law==2.0.3
django-cors-headers==3.2.1
django-extensions==3.0.5
django-pipeline==2.0.4
django-sql==1.0.1
djangorestframework==3.11.0
gitdb==4.0.5
GitPython==3.1.2
Pillow==7.1.0
pydotplus==2.0.2
PyMySQL==0.9.3
pyparsing==2.4.7
pytest-runner==5.2
pytz==2019.3
six==1.15.0
smmap==3.0.4
sqlparse==0.3.0
