{% extends "base.html" %}
{% block content %}

{% load dashboard_extras %}


<div class="contentbox two_vmin_paddings opacity align_bottom flex_specearound">

    <h4>Contacter Assistance</h4>

    <div class="margincenter">
        <h5 class="centered"><u>La Poste - Assistance</u></h5>

        <br/>

        <h5 class="centered" >
            Tél: 01.23.45.67.89 <br/><br/>
            Mob: 06.55.44.33.22 <br/><br/>
            e-mail: assistance_auto@laposte.fr</h5>
    </div>

    <div class="boutons_cond">
        <button class="bouton_cond" onclick="window.location.href = '/';">Retour</button>
    </div>

</div>

{% endblock content %}