{% extends "base.html" %}
{% block content %}

{% load dashboard_extras %}


<div class="contentbox two_vmin_paddings opacity">

    <h4>Saisie du kilométrage de prise</h4>

    <br/>

    <h5 class="margin-top centered"> {{ conduite.id_vehicule.immat }} </h5>
    <br/>

    <div class="margincenter">
        <form class="formulaire_cond margin_zero_auto" method="post">

            {% csrf_token %}
            {{ form_conduite.as_p }}

            <div class="boutons_cond">
                <button class="bouton_cond" type="reset" onclick="window.location.href = '/';">Retour</button>
                <button class="bouton_cond" type="submit">Confirmer</button>
            </div>
        </form>

        <p class="centered">
            {% if issue %}
                <b> Attention: <br/> {{ issue.sujet }} </b>
            {% endif %}

        </p>

    </div>
</div>

{% endblock content %}