body {
	margin: 0;
	padding: 0;
	color: #5D5D5D;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1vmax;
	font-weight: 400;
	background-repeat: no-repeat;
	background-size: auto 40vh;
	background-position: bottom 0px right 0px;
	background-attachment: fixed;
}

b{
	font-weight:600;
}

a {
	color: #5D5D5D;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header{
	height: 20vh;
	border: .5px solid #b9b9b9;
}

h1{
	font-weight: normal;
	font-size: 3vw;
}

h2{
	font-weight: normal;
	font-size: 2.6vw;
}

h3{
	font-weight: normal;
	font-size: 2.2vw;
}

h4{
	font-weight: normal;
	font-size: 1.8vw;
}

h5{
	font-weight: normal;
	font-size: 1.4vw;
}

h6{
	font-weight: normal;
	font-size: 1vw;
}

.gros_titre{
	margin-left: 9vw;
}


.bg-pattern{
	margin: 0;
	width: auto;
}

img{
	height: 100%;
	width: auto;
}

.logo{
	height: 12vh;
	width: auto;
	margin: 4vh 3vw 1vh 3vw;
	vertical-align: middle;
	float: right;
}


.objets_header {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 17vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

.navbar{
	height: 3vh;
}

.small_top_mar {
	margin-top: .5vh;
}

.seventy_bg {
	height: calc(100% - 1.5vh);
	border-radius: 10px;
	width: 100%;
	background-color: #ffffff75
}

.gauche{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 2vw;
}

.droite {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: .5vh 1vw;
}

.rightmargin{
	margin-right: 1.5vw;
}

.navbar .tab{
	height: 3vh;
	text-align: center;
	vertical-align: middle;
	border: .5px solid #b9b9b9;
	border-radius: 10px;
	margin-left: -10px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 3.5vw;
	padding-right: 3.5vw;
}


.espace_principal {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: calc(80vh - 1.5rem);
}


.section_gauche{
	width: 17vw;
	min-width: 17vw; 
	max-width: 17vw;
	height: 68vh;
	background-color: rgba(255, 255, 255, 0.5); 
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

.section_droite{
	width: 17vw;
	min-width: 17vw;
	max-width: 17vw;
	height: 68vh;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

.scrollable { 
    overflow: auto;
} 

.hundred_height{
	height: 100%;
}

.main_div {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 5%; 
	width: 100%;
	height: 70vh;
}

footer {
	position: fixed;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	width: 100%;
	height: 1.5rem;
	background-color: #FFFFFF;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	vertical-align: middle;
	opacity: 0.9;
}

.collapsible {
	margin: -1px -1px -1px 0;
	font-family: 'Ubuntu', sans-serif;
	background-color: #5D5D5D;
	color: white;
	cursor: pointer;
	height: 1.5rem;
	width: calc(100% + 1px);
	border: none;
	text-align: left;
	outline: none;
	border-radius: 9px;
}

.static_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
	margin: -1px -1px -1px 0;
	padding: 0 7px;
	line-height: 1;
	font-family: 'Ubuntu', sans-serif;
	background-color: #5D5D5D;
	color: white;
	cursor: pointer;
	height: 1.5rem;
	border: none;
	text-align: left;
	outline: none;
	border-radius: 9px;
}

.not_first {
    margin: 0.3rem 0 0.1rem;
}

.active, .collapsible:hover {
	background-color: #555;
}

.content {
    margin: -1px -1px;
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
    height: 1.2rem;
	overflow: hidden;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	background-color: #ffffff75;
}

p.profil {
	width: 80%;
}

a.profil {
	width: 20%;
	text-align: right;
}

p.aucun{
    margin: 5px 10px;
}


.dropdown_line {
	color: black;
	cursor: pointer;
	width: 100%;
	border-style: solid;
	text-align: left;
	vertical-align: middle;
	border-radius: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.line {
	line-height: 1.4rem;
	width: 100%;
	vertical-align: middle;
	text-overflow: ellipsis;
}

.vertical_align {
	vertical-align: middle;
}

.contentbox{
	margin: auto; 
	min-height: 35vh;
	width: 100%;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

.centered {
	text-align: center;
}

.verticalmar {
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;	
}

.bigverticalmar {
	margin-top: 6vh;
	margin-bottom: 6vh;	
}

.boutons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.boutons_cond {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 1.5%;
}

#ajouter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .75rem 0 .75rem .75rem;
	height: 1.5rem;
	padding-left: 2vw;
	padding-right: 2vw;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	background-color: white;
}

.formulaire {
	margin-top: 2vh;
}

.formulaire p{
	display: grid;
	grid-template-areas: 
		"label	input"
		"none	helpandlist";
	grid-template-columns: 2fr 5fr;
}

.formulaire p label{
	padding-left: 1vw;
	align-self: center;
	line-height: 1;
	grid-area: label;
}


.formulaire p input{
	float: right;
	padding: : 10px 1vw;
	grid-area: input;
}

.formulaire p select{
	padding: : 10px 1vw;
	float: right;
	grid-area: input;
	margin: 1.5vh 1.5%;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	background-color: white;
	color: #5D5D5D;
}


.formulaire p span.helptext {
    grid-area: helpandlist;
    margin: 0 1.5%;
}

.formulaire ul {
	text-align: center;
    padding-left: 1vw;
}

.contentbox input:not([type=checkbox]){
	padding-left: 1vh;
	margin: 1.5vh 1.5%;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	background-color: white;
	color: #5D5D5D;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
}

.contentbox input[type='checkbox']{
	padding-left: 1vh;
	margin: 1.5vh 1.5%;
}

.champ label{
	width: 28%;
	margin: 1.5vh;
}

.ok {
	margin: 1.5vh 0 1.5vh 1vw;
	padding-left: 2vw;
	padding-right: 2vw;
	height: 1.5rem;
	border-style: solid;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	font-family: 'Ubuntu', sans-serif;
	color: #5D5D5D;
	background-color: white;
}

.bouton_cond {
	margin: 1.5vh 0 1.5vh 1vw;
	min-width: 12%;
	padding: 0 2vw .3vh;
	line-height: 1;
	height: 1.5rem;
	border-style: solid;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	font-family: 'Ubuntu', sans-serif;
	color: #5D5D5D;
	background-color: white;
}

.messages {
	width: 100%;
	margin: 1vh 0 1vh 0; 
	font-size: 1vw;
	text-align: left;
}

.messages li{
	display: flex;
	justify-content: flex-start;
	margin-bottom: .5vh;
}

li.success{
	color: #5bad5b;
}

li.error {
	color: #ef5656;
}

ul.errorlist ul.errorlist{
	margin-left: .5vw;
}

.recherche {
	margin: auto; 
	height: 7vh;
	width: 100%;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

.block_title {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	width: 100%;
	height: 1.2rem;
	text-align: center;
	background-color: #5D5D5D;
	color: white;
	border-radius: 7px;
}

.form_rechercher {
	height: calc(100% - 1.2rem);
}

.drop-lists{
	height: 100%;
	width: 100%;
	border-bottom: 1px solid #b9b9b9;
	border-radius: 8px;
	margin: auto; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdown {
	display: inline;
	padding: 0 .2vw;
	width: 49%;
    margin: 2vh auto;
}

.resultats {
	margin: 10px auto 3vh auto; 
	min-height: 55vh;
	width: 100%;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

/* Page d'accueil admin */

.content_accueil {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 62vh;
	width: 100%;
}

.full {
	height: calc(100% - 1.2rem);
}

.col1 {
	height: 100%;
	width: 48%;
}

.col2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 48%;
}

.circulation {
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	height: 100%;
	width: 100%;
}

.gestionnaire_box {
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	height: 11vh;
}

.flexcenterwrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flexrow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.borders {
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

.button_gestionnaire {
	width: 48%;
	color: #5D5D5D;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	background-color: white;
	margin-bottom: 3px;
	border-radius: 8px;
}

.controles_tech {
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	height: 23vh;
}

.problemes {
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	height: 23vh;
}

.marginauto {
	margin: 25vh 0;
}

.textaligncenter {
	text-align: center;
}

.fullwidth {
	width: 100%;
}

a span {
	text-align: right;
}

.general-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 1vw;
	justify-content: space-between;
}

.general-info div {
	margin-right: 1vw;
	margin-bottom: 1vh;
	font-size: .9vw;
}

.tables {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2vh 1vw;
	height: auto;
	font-size: .9vw;
}

.tablebox {
	height: 43vh;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

.tabletitle {
	border-bottom: 1px solid #b9b9b9;
	padding-left: .4vw;
	height: 1.3rem;
	width: 100%;
}

.table {
	width: 100%;
	table-layout: fixed;
	border-radius: 8px;
}

.table tr {
	height: 1.2rem;
	border-bottom: 1px solid #b9b9b9;
}

.table-cont-overflow {
	overflow: auto;
	height: calc(100% - 2.5rem);
}

td {
	padding-left: .4vw;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #ffffff75;
}

.conducteur {
	width: 49%;
}

.vehicule {
	width: 32.4%;
}

.tiers {
	width: 33.33%;
	max-width: 33.33%;
}

.deuxtiers {
	width: 66.66%;
	max-width: 66.66%;
}

.rightborder{
	border-right: 1px solid #b9b9b9;
}

.twenty {
	width: 20%;
	max-width: 20%;
}

.thirty {
	width: 30%;
	max-width: 30%;
}

.forty {
	width: 40%;
	max-width: 40%;
}

.sixty {
	width: 60%;
	max-width: 60%;
}

.right-align {
	text-align: right;
	padding-right: .4vw;
}

.seventy-five {
	width: 75%;
}

.twenty-five {
	min-width: 25%;
}

.full-width {
	width: 100%;
}

.flexrow {
	display: flex;
	flex-direction: row;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.profilpic {
	width: 12vmax;
	max-width: 150px;
	border-radius: 6vmax;
	border: 1px solid #b9b9b9;
	height: auto;
	margin: 2vh auto; 
}

/* The Modal (background) */
.modal {
  	display: none; 							/* Hidden by default */
  	position: fixed; 						/* Stay in place */
  	z-index: 1; 							/* Sit on top */
 	left: 0;
 	top: 0;
 	width: 100%; 							/* Full width */
 	height: 100%; 							/* Full height */
 	overflow: auto; 						/* Enable scroll if needed */
  	background-color: rgb(0,0,0); 			/* Fallback color */
  	background-color: rgba(0,0,0,0.8); 		/* Black w/ opacity */
}

/* The Modal (background) */
.modal {
  	display: none; 							/* Hidden by default */
  	position: fixed; 						/* Stay in place */
  	z-index: 1; 							/* Sits on top */
  	padding-top: 100px; 					/* Location of the box */
  	left: 0;
  	top: 0;
  	width: 100%; 							/* Full width */
  	height: 100%; 							/* Full height */
  	overflow: auto; 						/* Enable scroll if needed */
  	background-color: rgb(0,0,0); 			/* Fallback color */
	background-color: rgba(0,0,0,0.8);		/* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	border: .5px solid #b9b9b9;
	border-radius: 10px;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 630px;
	height: 420px;
}

/* The Close Button */
.close {
    margin-top: -6px;
    margin-right: 0px;
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal button {
	margin: 2vh 30px;
}

#id_picture{
    margin: 1vw;
    width: calc(100% - 2vw);
    padding-left: 0;
}

.block-conduite{
	position: relative;
	width: 38%;
	height: 50%;
	border: .5px solid #b9b9b9;
	border-radius: 10px;
	margin: 1%;
	padding: 4%; 
}

.flexstartwrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.five-percent-padding{
	padding: 0 2%;
}

.profilpic_thumbnail{
	width: 4vmax;
	border-radius: 2vmax;
	border: 1px solid #b9b9b9;
	height: auto;
}

.flex_row {
	display: flex;
	flex-direction: row;
}

.align_center{
	align-items: center;
}

.margin_zero_auto{
	margin: 0 auto; 
}

.van {
	position: absolute;
	width: 50%;
	height: auto;
	bottom: 0;
	right: 4%;
}

/* Page d'accueil conducteurs */

.content_accueil_cond {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	height: 100%;
}

.bloc_button {
	background-color: #ffffff75;
	width: 20vmin;
	min-width: 180px;
	height: 20vmin;
	min-height: 180px;
	margin: 2vmax;
	border: 1px solid #b9b9b9;
	border-radius: 10px;
}

.margin-top {
	margin-top: 1vmax;
}

.formulaire_cond{
	margin-top: 2vh;
	font-size: 1.3vw;
	height: 80%;
	width: 80vw;
}

.formulaire_cond p {
	display: flex;
	justify-content: space-between;
}

.formulaire_cond p label{
	margin: 1.5vh;
	width: 25%;
}

.formulaire_cond p input{
	width: 75%;
	float: right;
	padding: : 10px 1vw;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	margin: 1.5vh;
}

.formulaire_cond textarea {
	width: 75%;
	margin: 1.5vh;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	color: #5D5D5D;
	rows: 4;
}

.two_vmin_paddings {
	padding: 2vmin;
}

.opacity {
	background-color: #ffffff75;
}

.non_lu {
	color: #ef5656;
}

.align_bottom {
	vertical-align: bottom;
}

.margincenter {
	margin: auto;
}

.flex_specearound {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.msgs {
	display: grid;
	grid-template-areas: 
		"date   sender   veh   voir";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-overflow: ellipsis;
	white-space: nowrap;
    margin: -1px -1px;
    padding: 1px 0 0 0;  
	padding-left: 10px;
	padding-right: 10px;
    height: 1.2rem;
    line-height: 1.2rem;
	overflow: hidden;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	background-color: #ffffff75;
}

.date {
	grid-area: date;
	vertical-align: middle;
	text-align: left;
}

.sender {
	grid-area: sender;
	vertical-align: middle;
	text-align: left;
}

.veh {
	grid-area: veh;
	vertical-align: middle;
	text-align: left;
}

.voir {
	grid-area: voir;
	vertical-align: middle;
	text-align: right;
}

.bloc-sujet {
    margin: 3vh 1vw 0;
    padding: 0 2vw;
    height: 1.2rem;
    line-height: 1.2rem;
    border: .5px solid #b9b9b9;
    border-radius: 8px;
}

.bloc-msg {
	margin: 1vh 1vw;
	padding: 2vh 2vw;
	height: 20%;
	border: .5px solid #b9b9b9;
	border-radius: 10px;
}

.mini_form {
	width: calc(100% - 2vh);
	margin: 1vh;
}

.mini_form div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}



