body {
	margin: 0;
	padding: 0;
	color: #5D5D5D;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1vmax;
	font-weight: 400;
	background-repeat: no-repeat;
	background-size: auto 40vh;
	background-position: bottom 0px right 0px;
	background-attachment: fixed;
}

b{
	font-weight:600;
}

a {
	color: #5D5D5D;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header{
	height: 20vh;
}

h1{
	font-weight: normal;
	font-size: 3vw;
}

h2{
	font-weight: normal;
	font-size: 2.6vw;
}

h3{
	font-weight: normal;
	font-size: 2.2vw;
}

h4{
	font-weight: normal;
	font-size: 1.8vw;
}

h5{
	font-weight: normal;
	font-size: 1.4vw;
}

h6{
	font-weight: normal;
	font-size: 1vw;
}

hr {
	width: 85%;
}

.gros_titre {
	margin-left: 9vw;
}

.gros_titre a:hover {
	text-decoration: none;
}

.mobile{
	display: none;
}

.bg-pattern{
	margin: 0;
	width: auto;
}

img{
	height: 100%;
	width: auto;
}

.logo{
	height: 12vh;
	width: auto;
	margin: 4vh 3vw 1vh 3vw;
	vertical-align: middle;
	float: right;
}


.objets_header {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 17vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

.navbar{
	height: 3vh;
	border-bottom: .5px solid #b9b9b9;
}

.small_top_mar {
	margin-top: .5vh;
}

.seventy_bg {
	height: calc(100% - 1.5vh);
	border-radius: 10px;
	width: 100%;
	background-color: #ffffff75
}

.gauche{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 2vw;
}

.droite {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: .5vh 1vw;
}

.rightmargin{
	margin-right: 1.5vw;
}

.navbar .tab{
	height: 3vh;
	text-align: center;
	vertical-align: middle;
	border: .5px solid #b9b9b9;
	border-radius: 10px;
	margin-left: -10px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 3.5vw;
	padding-right: 3.5vw;
}


.espace_principal {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	height: calc(80vh - 1.5rem);
}


.section_gauche{
	width: 17vw;
	min-width: 17vw; 
	max-width: 17vw;
	height: 68vh;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

.section_droite{
	width: 17vw;
	min-width: 17vw;
	max-width: 17vw;
	height: 68vh;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

	

.hundred_height{
	height: 100%;
}

.main_div {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 5%; 
	width: 100%;
	height: 70vh;
}

footer {
	position: fixed;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	width: 100%;
	height: 1.5rem;
	background-color: #FFFFFF;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	vertical-align: middle;
	opacity: 0.9;
}

.collapsible {
	margin: -1px -1px -1px 0;
	font-family: 'Ubuntu', sans-serif;
	background-color: #5D5D5D;
	color: white;
	cursor: pointer;
	height: 1.5rem;
	width: calc(100% + 1px);
	border: none;
	text-align: left;
	outline: none;
	border-radius: 9px;
}

.static_title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
	margin: -1px -1px -1px 0;
	padding: 0 7px;
	line-height: 1;
	font-family: 'Ubuntu', sans-serif;
	background-color: #5D5D5D;
	color: white;
	cursor: pointer;
	height: 1.5rem;
	border: none;
	text-align: left;
	outline: none;
	border-radius: 9px;
}

.not_first {
    margin: 0.3rem 0 0.1rem;
}

.active, .collapsible:hover {
	background-color: #555;
}

.content {
    margin: -1px 0 0 0;
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
    height: 1.2rem;
	overflow: hidden;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	background-color: #ffffff75;
}

.scrollable {
	overflow: auto;
}

p.profil {
	width: 80%;
}

a.profil {
	width: 20%;
	text-align: right;
}

p.aucun{
    margin: 5px 10px;
}


.dropdown_line {
	color: black;
	cursor: pointer;
	width: 100%;
	border-style: solid;
	text-align: left;
	vertical-align: middle;
	border-radius: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.line {
	line-height: 1.4rem;
	width: 100%;
	vertical-align: middle;
	text-overflow: ellipsis;
}

.vertical_align {
	vertical-align: middle;
}

.contentbox{
	margin: auto; 
	min-height: 35vh;
	width: 100%;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

.centered {
	text-align: center;
}

.verticalmar {
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;	
}

.bigverticalmar {
	margin-top: 6vh;
	margin-bottom: 6vh;	
}

.boutons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.boutons_cond {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 1.5%;
}

#ajouter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .75rem 0 .75rem .75rem;
	height: 1.5rem;
	padding-left: 2vw;
	padding-right: 2vw;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	background-color: white;
}

.formulaire {
	margin-top: 2vh;
}

.formulaire p{
	display: grid;
	grid-template-areas: 
		"label	input"
		"none	helpandlist";
	grid-template-columns: 2fr 5fr;
}

.formulaire p label{
	padding-left: 1vw;
	align-self: center;
	line-height: 1;
	grid-area: label;
}


.formulaire p input{
	float: right;
	padding: : .5vh 1vw;
	grid-area: input;
}

.formulaire p select{
	padding: : 10px 1vw;
	float: right;
	grid-area: input;
	margin: 1.5vh 1.5%;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	background-color: white;
	color: #5D5D5D;
}


.formulaire p span.helptext {
    grid-area: helpandlist;
    margin: 0 1.5%;
}

.formulaire ul {
	text-align: center;
    padding-left: 1vw;
}

.contentbox input:not([type=checkbox]){
	padding-left: 1vh;
	margin: 1.5vh 1.5%;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	background-color: white;
	color: #5D5D5D;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
}

.contentbox input[type='checkbox']{
	padding-left: 1vh;
	margin: 1.5vh 1.5%;
}

.champ label{
	width: 28%;
	margin: 1.5vh;
}

.ok {
	margin: 1vh 1.5% 1vh 0;
	padding-left: 2vw;
	padding-right: 2vw;
	height: 1.5rem;
	border-style: solid;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	font-family: 'Ubuntu', sans-serif;
	color: #5D5D5D;
	background-color: white;
}

.ok_sans_cadre{
	margin: 1vh 0 1vh 1.5%;
	padding-left: 2vw;
	padding-right: 2vw;
	height: 1.5rem;
	border-style: solid;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	font-family: 'Ubuntu', sans-serif;
	color: #5D5D5D;
	background-color: white;
}

.bouton_cond {
	margin: 1.5vh 0 1.5vh 1vw;
	min-width: 12%;
	padding: 0 2vw .3vh;
	line-height: 1;
	height: 1.5rem;
	border-style: solid;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	font-family: 'Ubuntu', sans-serif;
	color: #5D5D5D;
	background-color: white;
}

.messages {
	width: 100%;
	margin: 1vh 0 1vh 0; 
	font-size: 1vw;
	text-align: left;
}

.messages li{
	display: flex;
	justify-content: flex-start;
	margin-bottom: .5vh;
}

li.success{
	color: #5bad5b;
}

li.error {
	color: #ef5656;
}

ul.errorlist ul.errorlist{
	margin-left: .5vw;
}

.recherche {
	margin: auto; 
	height: 7vh;
	width: 100%;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

.block_title {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	width: 100%;
	height: 1.2rem;
	text-align: center;
	background-color: #5D5D5D;
	color: white;
	border-radius: 7px;
}

.form_rechercher {
	height: calc(100% - 1.2rem);
}

.drop-lists{
	height: 100%;
	width: 100%;
	border-radius: 8px;
	margin: auto; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdown {
	display: inline;
	padding: 0 .2vw;
	width: 49%;
    margin: 2vh auto;
}

.resultats {
	margin: 10px auto 3vh auto; 
	min-height: 55vh;
	width: 100%;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

/* Page d'accueil admin */

.content_accueil {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 62vh;
	width: 100%;
}

.full {
	height: calc(100% - 1.2rem);
}

.col1 {
	height: 100%;
	width: 48%;
}

.col2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 48%;
}

.circulation {
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	height: 100%;
	width: 100%;
}

.gestionnaire_box {
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	height: 11vh;
}

.flexcenterwrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flexrow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.borders {
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

.button_gestionnaire {
	width: 48%;
	color: #5D5D5D;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	background-color: white;
	margin-bottom: 3px;
	border-radius: 8px;
}

.controles_tech {
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	height: 23vh;
}

.problemes {
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	height: 23vh;
}

.marginauto {
	margin: 25vh 0;
}

.textaligncenter {
	text-align: center;
}

.fullwidth {
	width: 100%;
}

a span {
	text-align: right;
}

.general-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 1vw;
	justify-content: space-between;
}

.general-info div {
	margin-right: 1vw;
	margin-bottom: 1vh;
	font-size: .9vw;
}

.tables {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2vh 1vw;
	height: auto;
	font-size: .9vw;
}

.tablebox {
	height: 43vh;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
}

.tabletitle {
	border-bottom: 1px solid #b9b9b9;
	padding-left: .4vw;
	height: 1.3rem;
	width: 100%;
}

.table {
	width: 100%;
	table-layout: fixed;
	border-radius: 8px;
}

.table tr {
	height: 1.2rem;
	border-bottom: 1px solid #b9b9b9;
}

.table-cont-overflow {
	overflow: auto;
	height: calc(100% - 2.5rem);
}

td {
	padding-left: .4vw;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #ffffff75;
}

.conducteur {
	width: 49%;
}

.vehicule {
	width: 32.4%;
}

.tiers {
	width: 33.33%;
	max-width: 33.33%;
}

.deuxtiers {
	width: 66.66%;
	max-width: 66.66%;
}

.rightborder{
	border-right: 1px solid #b9b9b9;
}

.twenty {
	width: 20%;
	max-width: 20%;
}

.thirty {
	width: 30%;
	max-width: 30%;
}

.forty {
	width: 40%;
	max-width: 40%;
}

.sixty {
	width: 60%;
	max-width: 60%;
}

.right-align {
	text-align: right;
	padding-right: .4vw;
}

.seventy-five {
	width: 75%;
}

.twenty-five {
	min-width: 25%;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.flexrow {
	display: flex;
	flex-direction: row;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.profilpic {
	width: 12vmax;
	max-width: 150px;
	border-radius: 6vmax;
	border: 1px solid #b9b9b9;
	height: auto;
	margin: 2vh auto; 
}

/* The Modal (background) */
.modal {
  	display: none; 							/* Hidden by default */
  	position: fixed; 						/* Stay in place */
  	z-index: 1; 							/* Sit on top */
 	left: 0;
 	top: 0;
 	width: 100%; 							/* Full width */
 	height: 100%; 							/* Full height */
 	overflow: auto; 						/* Enable scroll if needed */
  	background-color: rgb(0,0,0); 			/* Fallback color */
  	background-color: rgba(0,0,0,0.8); 		/* Black w/ opacity */
}

/* The Modal (background) */
.modal {
  	display: none; 							/* Hidden by default */
  	position: fixed; 						/* Stay in place */
  	z-index: 1; 							/* Sits on top */
  	padding-top: 100px; 					/* Location of the box */
  	left: 0;
  	top: 0;
  	width: 100%; 							/* Full width */
  	height: 100%; 							/* Full height */
  	overflow: auto; 						/* Enable scroll if needed */
  	background-color: rgb(0,0,0); 			/* Fallback color */
	background-color: rgba(0,0,0,0.8);		/* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	border: .5px solid #b9b9b9;
	border-radius: 10px;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 630px;
	height: 420px;
}

/* The Close Button */
.close {
    margin-top: -6px;
    margin-right: 0px;
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal button {
	margin: 2vh 30px;
}

#id_picture{
    margin: 1vw;
    width: calc(100% - 2vw);
    padding-left: 0;
}

.block-conduite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 38%;
    max-height: 18rem;
    border: .5px solid #b9b9b9;
    border-radius: 10px;
    margin: 1% 1% 0 1%;
    padding: 4% 4% 0 4%;
}

.flexstartwrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.five-percent-padding{
	padding: 0 2%;
}

.profilpic_thumbnail{
	width: 4vmax;
	border-radius: 2vmax;
	border: 1px solid #b9b9b9;
	height: auto;
}

.flex_row {
	display: flex;
	flex-direction: row;
}

.align_center{
	align-items: center;
}

.margin_zero_auto{
	margin: 0 auto; 
}

.van_div {
	width: 100%;
	bottom: 0;
	right: 0;
}

.van {
	width: 50%;
	float: right;
	margin-right: 0%;  
	height: auto;
}

/* Page d'accueil conducteurs */

.content_accueil_cond {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	height: 100%;
}

.bloc_button {
	background-color: #ffffff75;
	width: 20vmin;
	min-width: 180px;
	height: 20vmin;
	min-height: 180px;
	margin: 2vmax;
	border: 1px solid #b9b9b9;
	border-radius: 10px;
}

.margin-top {
	margin-top: 1vmax;
}

.formulaire_cond{
	margin-top: 2vh;
	font-size: 1.3vw;
	height: 80%;
	width: 80vw;
}

.formulaire_cond p {
	display: flex;
	justify-content: space-between;
}

.formulaire_cond p label{
	margin: 1.5vh;
	width: 25%;
}

.formulaire_cond p input{
	width: 75%;
	float: right;
	padding: 10px 1vw;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	margin: 1.5vh;
}

.formulaire_cond textarea {
	width: 75%;
	margin: 1.5vh;
	border: 1px solid #b9b9b9;
	border-radius: 4px;
	color: #5D5D5D;
}

.two_vmin_paddings {
	padding: 2vmin;
}

.opacity {
	background-color: #ffffff75;
}

.non_lu {
	color: #ef5656;
}

.align_bottom {
	vertical-align: bottom;
}

.margincenter {
	margin: auto;
}

.flex_specearound {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.msgs {
	display: grid;
	grid-template-areas: 
		"date   sender   suj   voir";
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-overflow: ellipsis;
	white-space: nowrap;
    margin: -1px -1px;
    padding: 1px 0 0 0;  
	padding-left: 10px;
	padding-right: 10px;
    height: 1.2rem;
    line-height: 1.2rem;
	overflow: hidden;
	border: 1px solid #b9b9b9;
	border-radius: 8px;
	background-color: #ffffff75;
}

.date {
	grid-area: date;
	vertical-align: middle;
	text-align: left;
}

.sender {
	grid-area: sender;
	vertical-align: middle;
	text-align: left;
}

.suj {
	grid-area: suj;
	vertical-align: middle;
	text-align: left;
}

.voir {
	grid-area: voir;
	vertical-align: middle;
	text-align: right;
}

.bloc-sujet {
    margin: 3vh 1vw 0;
    padding: 0 2vw;
    height: 1.2rem;
    line-height: 1.2rem;
    border: .5px solid #b9b9b9;
    border-radius: 8px;
}

.bloc-msg {
	margin: 1vh 1vw;
	padding: 2vh 2vw;
	height: 20%;
	border: .5px solid #b9b9b9;
	border-radius: 10px;
}

.mini_form {
	width: calc(100% - 2vh);
	margin: 1vh;
}

.mini_form div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.halfheight_minus_rem {
	max-height: 50%;
	border-radius: 6px;
}

.halfheight_minus_margin {
	max-height: calc((50% - 1.8rem) + 1px);
}

.listmenu {
	height: 100%;
}

.border_radius_six_px {
	border-radius: 6px;
}

.sticky1 {
	position: sticky;
	top: 0;
	z-index: 1;
}

.sticky2 {
	position: sticky;
	top: 0;
	z-index: 2;
}

.hidden_overflow {
	overflow: hidden;
}

.list_section {
/*	 used for jquery */
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2) {

		.bloc_button {
		    width: 16vmax;
		    height: 16vmax;
		    min-width: auto;
		    min-height: auto;
		}

	}

/* Portrait */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait) {

	/* BURGER MENU */
	  	span {
			display: block;
			background: #566973;
			border-radius: 2px;
			transition: 0.25s ease-in-out;
			box-sizing: border-box;
		}

		#menu-toggle {
			width: 100px;
			height: 100px;
			margin: 50px 0;
			position: absolute;
			cursor: pointer;
			border-radius: 20px;
			transition: .25s ease-in-out;
			box-sizing: border-box;
		    top: 16vmax;
		    right: 1vmax;
		}

		#menu-toggle #hamburger {
			position: absolute;
			height: 100%;
			width: 100%;
		}

		#menu-toggle #hamburger span {
			width: 60px;
			height: 4px;
			position: relative;
			top: 24px;
			left: 20px;
			margin: 10px 0;
		}

		#menu-toggle #hamburger span:nth-child(1) {
			transition-delay: 0.5s;
		}

		#menu-toggle #hamburger span:nth-child(2) {
			transition-delay: 0.625s;
		}

		#menu-toggle #hamburger span:nth-child(3) {
			transition-delay: 0.75s;
		}

		#menu-toggle #cross {
			position: absolute;
			height: 100%;
			width: 100%;
			transform: rotate(45deg);
		}

		#menu-toggle #cross span:nth-child(1) {
			height: 0%;
			width: 4px;
			position: absolute;
			top: 10%;
			left: 48px;
			transition-delay: 0s;
		}

		#menu-toggle #cross span:nth-child(2) {
			width: 0%;
			height: 4px;
			position: absolute;
			left: 10%;
			top: 48px;
			transition-delay: 0.25s;
		}

		#menu-toggle.open #hamburger span {
			width: 0%;
		}

		#menu-toggle.open #hamburger span:nth-child(1) {
			transition-delay: 0s;
		}

		#menu-toggle.open #hamburger span:nth-child(2) {
			transition-delay: 0.125s;
		}

		#menu-toggle.open #hamburger span:nth-child(3) {
			transition-delay: 0.25s;
		}

		#menu-toggle.open #cross span:nth-child(1) {
			height: 80%;
			transition-delay: 0.625s;
		}

		#menu-toggle.open #cross span:nth-child(2) {
			width: 80%;
			transition-delay: 0.375s;
		}

	/*	BURGER MENU END   */

	/*  BURGER MENU ITEMS */
		
		#mobile_menu {
			position: absolute;
		    height: 70vmin;
		    width: 85vmin;
		    background-color: #fffffffa;
	    	border: 2px solid #b9b9b9;
			border-radius: 20px;
		    z-index: 10;
			transition: .5s cubic-bezier(0.22, 0.61, 0.36, 1);
		    top: 20vh;
		}

		.off {
			left: -86vw;
		}

		.on {
	    	left: 0vw;
		}

		.menu_item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: calc(20% - 0.8px);
			vertical-align: middle;
			padding-left: 7%;
			z-index: 11;
	    	border-bottom: 1px solid #b9b9b9;
			border-radius: 20px;

		}

		.menu_item a {
			height: 100%;
			line-height: 4;
		}

	/*  BURGER MENU ITEMS END */

		header {
			height: 15vmax;;
		}

		body {
			font-size: 2vmax;

		}

		h1 {
		    font-size: 3.5vmax;
		}

		h3 {
	    	font-size: 3.5vmax;
	    	margin: 1vmax 0;
		}

		h4 {
	    	font-size: 3vmax;
		}

		h5 {
	    	font-size: 2.5vmax;
		}

		h6 {
		    font-size: 2vmax;
		}

		.objets_header {
		    height: 13vmax;
		}

		.logo {
		    height: 8vmax;
		    width: auto;
		    margin: auto 2vmax;
		    float: right;
		}

		.no_mobile {
			display: none;
		}

		.mobile {
			display: block;
		}

		.content_accueil {
			flex-wrap: wrap;
		}

		.col1 {
			height: 52vh;
			width: 90vw;
		}

		.col2 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			width: 90vw;
		}

		.block_title {
			height: 4rem;
	    	border-radius: 20px;
		}

		.block-conduite {
		    max-height: 75%;
		}

		.profilpic_thumbnail {
		    width: 8vmax;
		    border-radius: 4vmax;
		    border: 1px solid #b9b9b9;
		    height: auto;
		}

		#status {
			display: inline;
		    position: absolute;
			text-align: right;
			width: 35vmax;
			float: right;
			right: 0;
			font-size: 1.5rem;
		}

		.small_top_mar {
		    margin-top: .5vh;
		    margin-right: 1.5vw;
		}

		.circulation {
	    	height: 50vh; 
	    	border-radius: 20px;
		}
		
		.full {
			height: calc(100% - 4vmax);
			border-radius: 20px;
		}

		.gestionnaire_box {
		    border-radius: 20px;
		    height: 25vmin;
		    margin-bottom: 2vmin;
		}

		.button_gestionnaire {
	    	width: 47%;
	    	height: 7vmin;
	    	margin: 1vmin; 
	    }

	    .content {
	    	height: 4rem;
	    	border-radius: 20px;
	    }

	    .controles_tech {
	    	border-radius: 20px;
	    	margin-bottom: 2vmin;
	    }

	    .problemes {
	    	border-radius: 20px;
	    	margin-bottom: 5vh;
	    }

	    footer {
		    height: 3.5rem;
	    	border-radius: 20px;
	    }

	   	.line {
	    	line-height: 2rem;
		}

		.ok {
		    height: 4rem;
		    border-radius: 20px;
		}

		.contentbox {
			border-radius: 20px;
			width: 95%;
			min-height: 50vmax;
		}

		.messages {
			font-size: 2vmax;
		}

		.formulaire {
			font-size: 1.8vmax;
			width: 90%;
			margin-left: auto;
			margin-right: auto; 
		}

		.ok_sans_cadre {
		    height: 4rem;
		    border-radius: 20px;
		}

		.seventy-five {
			width: 100%;
		}

		.boutons {
	        width: 95%;
	    	margin: auto;
		}

		.recherche {
		    height: 15vmax;
		    border-radius: 20px;
		}

		.drop-lists {
	    	height: calc(100% - 4rem);
	    }

	    .resultats {
	    	border-radius: 20px;
	    	border: 0px; 
	    	background-color: #00000000;
	    }

	    .tablebox {
		    border-radius: 20px;
		}

		.general-info {
		    margin: 2vmax 0;
		}

		.general-info p {
			font-size: 1.8vmax;
			margin-bottom: 1vmax;
		}

		.block_title {
			font-size: 1.8vmax;
		}

		.tablebox p {
			font-size: 1.8vmax;
		}

		td {
			font-size: 1.8vmax;
			background-color: #ffffff00;
		}

		.tabletitle {
		    height: 4rem;
		}

		.table tr {
	    	height: 4rem;
	    }

		.tables {
		    flex-wrap: wrap;
		}

		.conducteur {
			height: auto;
			padding-bottom: 2vmax; 
			width: 100%;
			margin-bottom: 2vmin;
			background-color: #ffffff75;
		}

		.vehicule {
			height: auto;
			padding-bottom: 2vmax; 
			width: 100%;
			margin-bottom: 2vmin;
			background-color: #ffffff75;
		}

		.msgs {
			height: 4rem;
			font-size: 1.5rem;
		}

		.msgs p, a {
			line-height: 4rem;
		}

		.bloc-sujet {
			height: 4rem;
			padding: 1vmax;
		}

		input {
			height: 3rem;
			width: 3rem;
		}

		label {
			font-size: 1.8rem;
			line-height: 1.8;
		}

		.contentbox input:not([type=checkbox]) {
			width: 87%;
		}

		.bouton_cond {
		    font-size: 1.8rem;
		    height: 3rem;
		    line-height: 1.5;
		    border-radius: 20px;
		}

		.formulaire_cond textarea {
			width: 100%;
			margin: 1.5vh 1.5%;
		}

		.formulaire_cond{
			margin-top: 2vh;
			font-size: inherit;
		}


}

/* Landscape */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: landscape) { 

		.hide_in_landscape {
			display: none;
		}

  		body {
  			font-size: 1.5vw;
  		}

  		h3 {
  			margin-top: 1.5vh;
  		}

  		.gestionnaire_box, .controles_tech, .problemes {
		    height: 20vh;
		}

		.section_gauche, .section_droite {
    		height: 62vh;
    		margin-top: 6vh;
    		width: 15vw;
    		min-width: 15vw;
    		max-width: 15vw;
    	}

    	.navbar {
    		height: 5vh;
		}

    	.navbar .tab {
    		width: 12vw;
    		height: 5vh;
    	}

    	#status {
    		margin-top: 1.5vh; 
    	}

		.seventy-five {
			width: 100%;
		}

		.tablebox {
    		height: 39vh;
    	}

    	.contentbox {
    		min-height: 50vh;
    	}

    	.resultats {
    		min-height: 50vh;
    	}

    	.recherche {
		    height: 10vh;
		}

}
