<div id="cookiebannerdiv">


<div id="CookielawBanner">
    <div class="container">
        <p>
            En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de Cookies strictement necéssaires
            pour le bon fonctionnement de l'application.<br/><br/>

            <b><u>Les règles internes de gestion des données personnelles</u></b><br/>
            Vos informations personnelles sont stockées pour garder une historique des véhicules qui vous ont étés
            attribués, vos informations ne seront pas divulguées à des tiers et demeurent exclusivement à des fins
            administratives. Pour faire valoir votre droit d'opposition, modification ou suppression de ces données
            merci de contacter
            <a href="mailto:mailto:christine@laposte-velizy.fr">votre administrateur via mèl.</a><br/>
        </p>
        <p align="right">
            <a href="javascript:Cookielaw.createCookielawCookie();"><b>J'accepte</b></a>
        </p>
    </div>
</div>


    </div>