{% extends "base.html" %}
{% block content %}

<h3>Tableau de bord</h3>


<div class="content_accueil">

    <div class="col1">
        <div class="circulation">

            <div class="block_title">
                <h6>Véhicules en circulation</h6>
            </div>

            <div class="flexcenterwrap full scrollable">

            </div>
        </div>
    </div>

    <div class="col2">
        <div class="gestionnaire_box">

            <div class="block_title">
                <h6>Gestionnaire</h6>
            </div>

            <div class="flexcenterwrap full scrollable">
                <button class="button_gestionnaire" onclick="window.location.href = 'attribuer/';">Attribuer véhicule</button>
                <button class="button_gestionnaire" onclick="window.location.href = 'restituer';">Réstituer véhicule</button>
                <button class="button_gestionnaire" onclick="window.location.href = 'ajouter-amende/';">Ajouter amende</button>
                <button class="button_gestionnaire" onclick="window.location.href = 'saisir-entretien/';">Saisir entretien</button>
            </div>

        </div>

        <div class="controles_tech">
            <div class="block_title">
                <h6>Contrôles techniques ce mois</h6>
            </div>

            <div class="full scrollable">
                    {% if liste_controles_tech %}
                        {% for vehicule in liste_controles_tech %}
                            <div class="content">
                                <div class="dropdown_line">
                                    <a class="fullwidth" href="{% url 'vehicule:fiche_veh' vehicule.id %}">{{vehicule}}&nbsp;&nbsp;
                                        -&nbsp;&nbsp;&nbsp;{{vehicule.prochain_controle_technique}}</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>
                            Aucun contrôle technique à venir dans les 30 prochains jours
                        </p>
                    {% endif %}
            </div>

        </div>

        <div class="problemes">
            <div class="block_title">
                <h6>Problèmes signalés</h6>
            </div>

            <div class="full scrollable">

                <!-- CONTENT HERE -->

            </div>

        </div>


    </div>

</div>

{% endblock content %}