{% extends "base.html" %}
{% block content %}

<h3 class="verticalmar">Messages</h3>

<div id="msg"></div>

<div class="contentbox scrollable hundred_height">


     {% if liste_messages_non_lus or liste_messages_lus %}
        <div class="msgs">
            <p class="date"><b>Date</b></p>
            <p class="sender"><b>Reçu de</b></p>
            <p class="suj"><b>Sujet</b></p>
            <p class="voir">
                {% if liste_messages_non_lus %}
                    {{ liste_messages_non_lus | length }} non-lu(s)
                {% endif %}

            </p>
        </div>
        {% for message_non_lu in liste_messages_non_lus %}

            <div class="msgs">
                <p class="date"><b>{{ message_non_lu.sent_at }}</b></p>

                {% if message_non_lu.id_employe.id %}
                    <b class="sender"> {{ message_non_lu.id_employe }} </b>
                {% else %}
                    <b> flott'assist </b>
                {% endif %}

                <b class="suj">{{ message_non_lu.sujet }} </b>

                <a class="voir" href="{% url 'dashboard:voir_msg' message_non_lu.id %}">
                    <b> afficher message </b>
                </a>

            </div>

        {% endfor %}
     {% endif %}

     {% if liste_messages_lus %}
        {% for message_lu in liste_messages_lus %}

            <div class="msgs">
                <p class="date">{{ message_lu.sent_at }}</p>

                {% if message_lu.id_employe.id %}
                    <p class="sender"> {{ message_lu.id_employe }} </p>
                {% else %}
                    <p> flott'assist </p>
                {% endif %}

                <p class="suj">{{ message_lu.sujet }}</p>

                <a class="voir" href="{% url 'dashboard:voir_msg' message_lu.id %}">
                    afficher message
                </a>

            </div>

        {% endfor %}
     {% endif %}


    {% if not liste_messages_non_lus %}
        {% if not liste_messages_lus %}
            <p class="aucun centered">Aucun message à afficher.</p>
        {% endif %}
    {% endif %}

</div>

<div class="boutons">

    <button class="ok_sans_cadre"
            onclick="window.location.href = '{% url 'dashboard:index' %}';"
            value="Ajouter">Retour</button>

</div>

{% endblock content %}

