{% extends "base.html" %}
{% block content %}

<h3 class="verticalmar">Saisir Entretien</h3>

<div class="contentbox restit scrollable opacity">
    <form class="formulaire" method="post">

        {% csrf_token %}

        {{ saisir_entretien_form.as_p }}

        <div class="boutons">

            <button class="ok"
                type="reset"
                onclick="window.location.href = '{% url 'dashboard:index' %}';"
                value="Ajouter">Retour</button>

            <button class="ok" type="submit">Enregistrer entretien</button>
        </div>
    </form>
</div>

{% endblock content %}

