<!DOCTYPE html>
{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>flott'assist</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap">
    <link rel="stylesheet" href="{% static '/css/normalize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

<!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body style="background-image:url({% static '/images/cropped.png' %})">

    <header>
        <div class="objets_header" style="background-image:url({% static '/images/pattern.png' %})">
            <div class="gros_titre">
                <a href="{% url 'dashboard:index' %}">
                    <h1>LA POSTE - VELIZY</h1>
                </a>
            </div>

            <figure class="logo">
                <a href="{% url 'dashboard:index' %}">
                    <img src="{% static '/images/logo.png' %}" alt="Logo flott'assist" />
                </a>
            </figure>
        </div>

        {% if user.is_superuser %}

            <div class="opacity" id="menu-toggle">
                <div id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div id="cross">
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="mobile_menu" class="opacity mobile off">

                <div class="menu_item">
                      <a href="{% url 'dashboard:index' %}">Tableau de Bord</a>
                </div>

                <div class="menu_item">
                    <a href="{% url 'employe:page_conducteurs' %}">Conducteurs</a>
                </div>

                <div class="menu_item">
                      <a href="{% url 'vehicule:page_vehicules' %}">Véhicules</a>
                </div>

                <div class="menu_item">
                      <a href="{% url 'historique:page_recherche' %}">Historique</a>
                </div>

                <div class="menu_item">
                      <a href="{% url 'dashboard:msg' %}">Messages</a>
                </div>

            </div>

            <nav class="navbar no_mobile">
                <div class="gauche">

                    <div class="tab">
                        <a href="{% url 'dashboard:index' %}">Tableau de Bord</a>
                    </div>

                    <div class="tab">
                        <a href="{% url 'employe:page_conducteurs' %}">Conducteurs</a>
                    </div>

                    <div class="tab">
                        <a href="{% url 'vehicule:page_vehicules' %}">Véhicules</a>
                    </div>

                    <div class="tab">
                        <a href="{% url 'historique:page_recherche' %}">Historique</a>
                    </div>

                    <div class="tab">
                        <a href="{% url 'dashboard:msg' %}">Messages</a>
                    </div>

                </div>
            </nav>
        {% endif %}

        <div id="status" class="droite rightmargin">
            {% if user.is_authenticated %}
                <p class="rightmargin small_top_mar"> Session : {{ request.user }}</p>
                <a class="small_top_mar" href="{% url 'logout' %}">Fermer session</a>
            {% endif %}
        </div>
    </header>

        <section class="espace_principal">

            {% if user.is_superuser %}
                {% include 'gauche.html' %}
            {% endif %}

            <div class="main_div">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% block content %}
                {% endblock content%}
            </div>

            {% if request.user.is_superuser %}
                {% include 'droite.html' %}
            {% endif %}

        </section>

    <footer>
        <p>© Copyright Nour SIDAOUI</p>
    </footer>
</body>

<script src="{% static '/scripts/js/side_toggles.js' %}"></script>

{% block script %}
{% endblock script %}

<script>
// burger menu script

    $('#menu-toggle').click(function(){
        $(this).toggleClass('open');
        $('#mobile_menu').toggleClass('on');
        $('#mobile_menu').toggleClass('off');
      })
</script>

</html>

