<!DOCTYPE html>
{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body style="background-image:url({% static '/images/cropped.png' %})">
    <header>
        <div class="objets_header" style="background-image:url({% static '/images/pattern.png' %})">
            <div>
                <h1 class="gros_titre">LA POSTE - VELIZY</h1>
            </div>

            <figure class="logo">
                <img src="{% static '/images/logo.png' %}" alt="Logo flott'assist" />
            </figure>
        </div>


        <nav class="navbar">
        {% if user.is_authenticated %}

            <div class="gauche">
                <div class="tab">
                    <a href="{% url 'dashboard:index' %}">Tableau de Bord</a>
                </div>

                <div class="tab">
                    <a href="{% url 'employe:page_conducteurs' %}">Conducteurs</a>
                </div>

                <div class="tab">
                    <a href="{% url 'vehicule:page_vehicules' %}">Véhicules</a>
                </div>

                <div class="tab">
                    <a href="{% url 'historique:page_recherche' %}">Historique</a>
                </div>
            </div>

        {% endif %}
            <div class="droite rightmargin">
                {% if user.is_authenticated %}
                    <p class="rightmargin"> Vous êtes connecté en tant que : {{ request.user|capfirst }}</p>
                {% endif %}

                <a href="{% url 'logout' %}">Fermer session</a>
            </div>
        </nav>


    </header>

        <section class="espace_principal">

            {% include 'gauche.html' %}

            <div class="main_div">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% block content %}
                {% endblock %}
            </div>

            {% include 'droite.html' %}

        </section>

    <footer>
        © Copyright Nour SIDAOUI
    </footer>
</body>
</html>

