{% if user.is_authenticated %}

<div class="section_droite no_mobile opacity">
    <div class="listmenu scrollable">

        <div class="static_title ">
            <p>Notifications

                {% if notifications and liste_messages_non_lus %}
                    ( {{ notifications.count | add: liste_messages_non_lus.count }} )
                {% endif %}

                {% if notifications and not liste_messages_non_lus %}
                    ( {{ notifications | length %}
                {% endif %}

                {% if liste_messages_non_lus and not notifications %}
                    ( {{ liste_messages_non_lus | length %}
                {% endif %}
            </p>
        </div>

        <div class="list_section">
             {% if notifications or liste_messages_non_lus %}

                {% for message_non_lu in liste_messages_non_lus %}
                    <div class="content">
                        <div class="dropdown_line vertical_align">

                            {% if message_non_lu.id_employe and message_non_lu.sujet == 'Coord. GPS partagées' %}
                                <a class="non_lu line" href="{% url 'dashboard:voir_msg' message_non_lu.id %}">
                                    <b class="line">
                                        Coord. GPS partagées par {{ message_non_lu.id_employe.user.first_name | capfirst }}
                                    </b>
                                </a>

                            {% elif message_non_lu.id_employe and message_non_lu.sujet != 'Coord. GPS partagées' %}
                                <a class="non_lu line" href="{% url 'dashboard:voir_msg' message_non_lu.id %}">
                                    <b class="line">
                                        Problème signalé par {{ message_non_lu.id_employe.user.first_name | capfirst }}
                                    </b>
                                </a>

                            {% else %}
                                <a class="non_lu line" href="{% url 'dashboard:voir_msg' message_non_lu.id %}">
                                    <b class="line">
                                        Différence de Km détectée
                                    </b>
                                </a>

                            {% endif %}

                        </div>
                    </div>
                {% endfor %}

                {% for notification in notifications %}
                    <div class="content">
                        <div class="dropdown_line vertical_align">

                            <a class="non_lu line" href="{% url 'vehicule:fiche_veh' notification.id_vehicule.id %}">
                                <b class="line">
                                    {{ notification }}
                                </b>
                            </a>

                        </div>
                    </div>
                {% endfor %}

                {% else %}
                    <p class="aucun centered">Aucune notification <br>à afficher.</p>
                {% endif %}
        </div>

        <div class="list_section not_first">
            <button type="button" class="collapsible collapsed">Messages lus</button>

            {% if liste_messages_lus %}
                {% for message_lu in liste_messages_lus %}
                    <div class="content">
                        <div class="dropdown_line vertical_align">

                            {% if message_lu.id_employe and message_lu.sujet == 'Coord. GPS partagées' %}

                                <a class="line" href="{% url 'dashboard:voir_msg' message_lu.id %}">
                                    Coord. GPS partagées par {{ message_lu.id_employe.user.first_name | capfirst }}
                                </a>

                            {% elif message_lu.id_employe and message_lu.sujet != 'Coord. GPS partagées' %}

                                <a class="line" href="{% url 'dashboard:voir_msg' message_lu.id %}">
                                    Problème signalé par {{ message_lu.id_employe.user.first_name | capfirst }}
                                </a>

                            {% else %}

                                <a class="line" href="{% url 'dashboard:voir_msg' message_lu.id %}">
                                    Différence de Km détectée
                                </a>

                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="aucun centered">Aucun message lu à afficher.</p>
            {% endif %}

        </div>
    </div>
</div>

{% endif %}
