{% if user.is_authenticated %}

<div class="section_gauche">
    <div class="listmenu scrollable">

        <div class="listline ">
            <button type="button" class="collapsible">Conducteurs</button>
                {% if liste_conducteurs_presents %}
                    {% for conducteur in liste_conducteurs_presents %}
                        <div class="content">
                            <div class="dropdown_line">
                                <a href="{% url 'employe:voir_profil' conducteur.id %}">{{conducteur}}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="aucun">Aucun conducteur à afficher</p>
                {% endif %}
        </div>

        <div class="listline not_first">
            <button type="button" class="collapsible">Véhicules</button>
                {% if liste_vehicules_disponibles %}
                    {% for vehicule in liste_vehicules_disponibles %}
                        <div class="content">
                            <div class="dropdown_line">
                                <a href="{% url 'vehicule:fiche_veh' vehicule.id %}">{{vehicule}}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="aucun">Aucun véhicule à afficher</p>
                {% endif %}
        </div>
    </div>
</div>

<script>

(function($){

    $( document ).ready(function() {

        $('.listline .collapsible').on('click', function(){

            $(this).parent().children('.content').slideToggle(200);

        });

    });

}(window.jQuery || window.$));

</script>

{% endif %}