{% extends "base.html" %}
{% block content %}

<h3 class="verticalmar">Page Véhicules</h3>

<br>

<div class="contentbox scrollable hundred_height">
    {% if liste_vehicules %}
        {% for vehicule in liste_vehicules %}

            <div class="content">
                <p class="elem"><a href="{% url 'vehicule:fiche_veh' vehicule.id %}">{{vehicule}}</a></p>
                <a class="profil" href="{% url 'vehicule:fiche_veh' vehicule.id %}">voir fiche</a>
            </div>

        {% endfor %}
    {% else %}
        <p class="aucun centered">Aucun véhicule à afficher.</p>
    {% endif %}
</div>

<div class="boutons">
    <div id="ajouter">
        <a href="{% url 'vehicule:ajouter_vehicule' %}">Ajouter véhicule</a>
    </div>
</div>


{% endblock content %}


