{% extends "base.html" %}

{% load static %}


{% block script %}
    <link  href="{% static '/scripts/css/jquery.Jcrop.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static '/scripts/js/jquery.Jcrop.min.js' %}"></script>
    <script src="{% static '/scripts/js/modalscript.js' %}"></script>
{% endblock script %}


{% block content %}

<h3 class="verticalmar">Créer un compte conducteur</h3>

<div class="contentbox scrollable opacity">
    <form class="formulaire" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="flexrow">
            <div class="seventy-five">
                {{ creer_user_form.as_p }}
                {{ creer_cond_form.as_p }}
            </div>

            <div class="twenty-five no_mobile hide_in_landscape">
                <div class="full-width flex-col-center">
                    <img id="profile-picture"
                         class="profilpic"
                         src="/media/default.png"
                         alt="photo de profil"/>
                </div>

                {{ photo_form }}
            </div>
        </div>

        <div class="boutons">
            <button class="ok"
                    type="reset"
                    onclick="window.location.href = '{% url 'employe:page_conducteurs' %}';"
                    value="Ajouter">Retour</button>

            <button class="ok" type="submit" value="Ajouter">Ajouter</button>
        </div>

    </form>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
    <div class="modal-content background_stuff">

        <span class="close">&times;</span>

        <div id="cropbox">
            <img src="" id="target">
        </div>

        <div class="boutons">
            <button type="button" id="couper" class="button">Couper et continuer</button>
        </div>

    </div>
</div>

{% endblock content %}
