{% extends "base.html" %}
{% block content %}

<h3 class="verticalmar">Conducteurs</h3>

<br>

<div class="contentbox scrollable hundred_height">
    {% if liste_conducteurs %}
        {% for conducteur in liste_conducteurs %}

            <div class="content">
                <p><a href="{% url 'employe:voir_profil' conducteur.id %}">{{conducteur}}</a></p>
                <a class="profil" href="{% url 'employe:voir_profil' conducteur.id %}">voir profil</a>
            </div>

        {% endfor %}
    {% else %}
        <p class="aucun centered">Aucun conducteur à afficher.</p>
    {% endif %}
</div>

<div class="boutons">
    <div id="ajouter">
        <a href="{% url 'employe:ajouter_cond' %}">Ajouter conducteur</a>
    </div>
</div>

{% endblock content %}
