{% extends "base.html" %}
{% block content %}

<h3 class="verticalmar">Conducteurs</h3>

<br>

<div class="contentbox scrollable hundred_height opacity">
    {% if liste_conducteurs %}
        {% for conducteur in liste_conducteurs %}

            <div class="content">
                <p><a href="{% url 'employe:voir_profil' conducteur.id %}">{{conducteur}}</a></p>
                <a class="profil" href="{% url 'employe:voir_profil' conducteur.id %}">voir profil</a>
            </div>

        {% endfor %}
    {% else %}
        <p class="aucun centered">Aucun conducteur à afficher.</p>
    {% endif %}
</div>

<div class="boutons">

    <button class="ok_sans_cadre"
            onclick="window.location.href = '{% url 'dashboard:index' %}';"
            value="Ajouter">Retour</button>

    <button class="ok_sans_cadre"
            onclick="window.location.href = '{% url 'employe:ajouter_cond' %}';"
            value="Ajouter">Ajouter conducteur</button>

</div>

{% endblock content %}
